CONFIG_TP_SEC_CMD=m
CONFIG_TP_NOTIFY=m
CONFIG_TOUCHSCREEN_NT36528_HOSTDL_SPI=m
CONFIG_TOUCHSCREEN_FTS_FT8057S=m
CONFIG_TOUCHSCREEN_OMNIVISION_TCM=m
CONFIG_TOUCHSCREEN_GCORE=m
CONFIG_TOUCHSCREEN_ICNL9916C=m
# S96818AA3 gujiayin.wt,modify,2024/08/19 charger bring up start
CONFIG_CHARGER_SD7601=m
CONFIG_CHARGER_UPM6910=m
CONFIG_CHARGER_PUMP=m
CONFIG_N28_CHARGER_PRIVATE=y
CONFIG_AW35615_PD=m
# S96818AA3 gujiayin.wt,modify,2024/08/19 charger bring up end
CONFIG_WT_PROJECT_HEADPHONE_NODE=m
CONFIG_DRM_PANEL_WT_N28_TRULY_NT36528_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_DSBJ_FT8057S_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_XINXIAN_TD4160_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_TXD_GC7272_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_BOE_TD4160_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_XINXIAN_ICNL9916C_HDP_VDO=m
CONFIG_DRM_PANEL_WT_N28_DSBJ_ICNL9916C_HDP_VDO=m
CONFIG_DRM_PANEL_VIRTUAL_DSI_VDO_DEFAULT=m
CONFIG_LCM_CUST_COMMON=m
CONFIG_SENSORS=m
CONFIG_SX9328_SAR=m
CONFIG_HX9023S_SAR=m
CONFIG_WT_SERIAL_NUM=m
CONFIG_SMART_ALERT_HUB=y
CONFIG_LIFT_TO_WAKE=y
CONFIG_HARDEWARE_INFO=m
CONFIG_WING_CAM_CAL=y
CONFIG_WT_PROJECT_S96818AA1=y
#ReqS98818AA3-778, jiangbin.wt, ADD, 20240915, get device type
CONFIG_WT_EM=m
#+S96901AA5-374,jiangbin.wt,ADD,20240915,add RP status.
CONFIG_WT_RP_VALUE=m
#-S96901AA5-374,jiangbin.wt,ADD,20240915,add RP status.
#+S96818AA3-759,jiangbin.wt,ADD,20240915,add prop for check secureboot status.
CONFIG_WT_SECURITY_MODULE=m
CONFIG_WT_SECUREBOOT_FUSE=m
#-S96818AA3-759,jiangbin.wt,ADD,20240915,add prop for check secureboot status.
CONFIG_MTK_S96818_CAMERA=y
 CONFIG_MTK_DISABLE_TEMP_PROTECT is not set

CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n
#Input booster
CONFIG_SEC_INPUT_BOOSTER=m
CONFIG_SEC_INPUT_BOOSTER_MTK=y
CONFIG_SEC_INPUT_BOOSTER_HANDLER=y
CONFIG_SEC_INPUT_BOOSTER_MODE=y

