CONFIG_TP_SEC_CMD=m
CONFIG_SND_SOC_FS1815N=m
CONFIG_TOUCHSCREEN_FTS_FT8722=m
CONFIG_TP_NOTIFY=m
CONFIG_TOUCHSCREEN_ILI7807S=m
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET=m
CONFIG_TOUCHSCREEN_HIMAX_COMMON=m
CONFIG_TOUCHSCREEN_HIMAX_INCELL=m
CONFIG_TOUCHSCREEN_HIMAX_INSPECT=m
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83112=m
CONFIG_TOUCHSCREEN_HIMAX_DEBUG=y
CONFIG_TOUCHSCREEN_HIMAX_EMBEDDED_FIRMWARE=m
CONFIG_SENSORS=m
CONFIG_TYHX_HX9035=m
CONFIG_INPUT_A96T376=m
CONFIG_SX9375_SAR=m
CONFIG_DRM_PANEL_WT_TXD_FT8722_CPHY_VDO_90HZ=m
CONFIG_DRM_PANEL_WT_TIANMA_ILI7807S_CPHY_VDO_90HZ=m
CONFIG_DRM_PANEL_WT_DSBJ_HX83112F_CPHY_VDO_90HZ=m
CONFIG_DRM_PANEL_WT_DJN_HX83112F_CPHY_VDO_90HZ=m
CONFIG_DRM_PANEL_WT_CHUANGWEI_ILI7807S_CPHY_VDO_90HZ=m
CONFIG_DRM_PANEL_VIRTUAL_DSI_VDO_DEFAULT=m
CONFIG_LCM_CUST_COMMON=m
CONFIG_HARDEWARE_INFO=m
CONFIG_WT_SERIAL_NUM=m
CONFIG_SD_DET_ACTIVE_HIGH=y
CONFIG_WING_CAM_CAL=y
CONFIG_CAM_SC1300CS_LEAK=y
CONFIG_W2_CHARGER_PRIVATE=y
CONFIG_WT_PROJECT_S96901AA1=y
CONFIG_MTK_FLASHLIGHT_PT=n
CONFIG_MTK_FLASHLIGHT_PT_STRICT=n
CONFIG_MTK_FLASHLIGHT_DLPT=n
CONFIG_WT_HP_MISDETECTION=m
#ReqS98818AA3-778, jiangbin.wt, ADD, 20240915, get device type
CONFIG_WT_EM=m
#+S96901AA5-374,jiangbin.wt,ADD,20240915,add RP status.
CONFIG_WT_RP_VALUE=m
#-S96901AA5-374,jiangbin.wt,ADD,20240915,add RP status.
#+S96818AA3-759,jiangbin.wt,ADD,20240915,add prop for check secureboot status.
CONFIG_WT_SECURITY_MODULE=m
CONFIG_WT_SECUREBOOT_FUSE=m
#-S96818AA3-759,jiangbin.wt,ADD,20240915,add prop for check secureboot status.
# CONFIG_MTK_DISABLE_TEMP_PROTECT is not set
CONFIG_MTK_FINGERPRINT_SUPPORT=y
CONFIG_CHIPONE_FINGERPRINT_W2=m
CONFIG_FPC1020_SUPPORT=m
CONFIG_SILEAD_FINGERPRINT=m
